{% extends 'base.html' %}

{% block title %}Delete Position - HRMS{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row mb-2 mb-xl-3">
        <div class="col-auto d-none d-sm-block">
            <h3><strong>Delete Position</strong></h3>
        </div>
        <div class="col-auto ms-auto text-end">
            <a href="{% url 'position_list' %}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
    
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Confirm Deletion</h5>
        </div>
        <div class="card-body">
            <div class="alert alert-danger">
                <h4 class="alert-heading">Warning!</h4>
                <p>Are you sure you want to delete the position <strong>{{ position.position_name }}</strong>?</p>
                <p>This action cannot be undone. All employees assigned to this position will have their position set to null.</p>
            </div>
            
            <div class="row mb-3">
                <div class="col-md-6">
                    <h6>Position Name</h6>
                    <p>{{ position.position_name }}</p>
                </div>
                <div class="col-md-6">
                    <h6>Position Code</h6>
                    <p>{{ position.position_code }}</p>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-md-12">
                    <h6>Description</h6>
                    <p>{{ position.description|default:"No description provided" }}</p>
                </div>
            </div>
            
            <form method="post">
                {% csrf_token %}
                <div class="row mt-4">
                    <div class="col-12">
                        <button type="submit" class="btn btn-danger">Delete Position</button>
                        <a href="{% url 'position_list' %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
